body{
    margin: 0;
    overflow: hidden;
    user-select: none;
}
.corpo{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, #171717, black);
}
.box-class{
    height: 89vh;
    width: 65vw;
    margin: auto;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, black, #9E0202);
}
.box-question{
    /* border: 1px solid green; */
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question{
    background-color: rgba(0,0,0,.2);
    /* background-color: black; */
    margin: auto;
    border-radius: 20px;
    width: 75%;
    /* height: 139px; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question-text{
    /* border: 1px solid yellow; */
    font-family: Segoe UI;
    text-align: center;
    /* line-height: 139px; */
    font-size: 28px;
    color: #FDDF98;
    /* border: 1px solid green; */
}
.question-text ul{
    /* background-color: blue; */
    padding: 0;
}
.question-text ul li{
    display: inline;
    list-style: none;
    /* margin: 0 2%; */
    /* background-color: #545454 */
}
#timer{
    font-family: Segoe UI;
    text-align: center;
    font-size: 28px;
    color: #FDDF98;
    width: 10%;
    /* border: 1px solid orange; */
}
.box-music{
    /* border: 1px solid green; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.music-full{
    margin: auto;
    border-radius: 100px;
    width: 45%;
    height: 50%;
    /* height: 60px; */
    background-color: white;
}
.music-charge{
    background-image: linear-gradient(to bottom, #CFB530, #8B7920, #77641A, #8B7920, #CFB530);
    height: 102%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.music-play{
    /* border: 1px solid black; */
    /* width: 40px; */
    /* height: 40px; */
    /* line-height: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.music-play img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.box-anime{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15%;
}
.anime-logo{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: auto;
    background-image: linear-gradient(to bottom, #FD9898, #3D0202);
}
.anime-logo img{
    width: 70px;
    height: 70px;
}
.box-options{
    height: 35%;
    /* border: 1px solid green; */
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;                           
    background-image: linear-gradient(to bottom, #EFD56E, #D4BE31);
    /* width: 318px; */
    width: 35%;
    height: 60%;
    /* height: 60px; */
    border-radius: 10px;
    margin: auto;
    border: 1px solid #A9982A;
    box-shadow: 0px 5px 1px #A9982A;
    color: #545454;
    font-family: Segoe UI;
    cursor: pointer;
}
.options p{
    /* border: 1px solid black; */
    text-align: center;
    font-size: 20px;
    /* user-select: none; */
}
.linha01{
    /* background-color: blue; */
    display: flex;
    flex: row;
    justify-content: center;
    height: 50%;
}
.linha02{
    /* background-color: green; */
    display: flex;
    flex: row;
    justify-content: center;
    height: 50%;
}
#option01{
    /* background-image: linear-gradient(to bottom, black, #9E0202); */
}
@media only screen and (min-width:300px) and (max-width:800px){
    .box-class{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
    }
    .question{
        /* background-color: black; */
    }
    .question-text{
        font-size: 20px;
    }
    .options p{
        font-size: 18px;
    }
    .music-play img{
        width: 35px;
        height: 35px;
    }
    .anime-logo{
        width: 70px;
        height: 70px;
    }
    .anime-logo img{
        width: 70px;
        height: 70px;
    }
}
@media only screen and (min-width:800px) and (max-width:1000px){
    .question{
        /* background-color: brown; */
    }
    .question-text{
        font-size: 24px;
    }
    .options p{
        font-size: 18px;
    }
    .music-play img{
        width: 40px;
        height: 40px;
    }
    .anime-logo{
        width: 50px;
        height: 50px;
    }
    .anime-logo img{
        width: 50px;
        height: 50px;
    }
}
/* and (min-height:500px) */
@media only screen and (min-width:1000px) and (max-width:1280px){
    .question{
        /* background-color: white; */
        width: 85%;
    }
    .question-text{
        font-size: 24px;
    }
    .music-play img{
        width: 40px;
        height: 40px;
    }
}
/* and (min-height:600px) */
@media only screen and (min-width:1280px) and (max-width:1440px){
    .question{
        /* background-color: green; */
    }
    .question-text{
        font-size: 25px;
    }
}
/* and (min-height:600px) */
@media only screen  and (min-width:1440px)  and (max-width:1600px){
    .question{
        /* background-color: blue; */
    }
    .question-text{
        font-size: 30px;
    }
}
/* and (min-height:600px) */
@media only screen and (min-width:1600px) and (max-width:1920px){
    .question{
        /* background-color: purple; */
    }
    .question-text{
        font-size: 34px;
    }
    .options p{
        font-size: 30px;
    }
    .music-play img{
        width: 50px;
        height: 50px;
    }
    .anime-logo{
        width: 100px;
        height: 100px;
    }
    .anime-logo img{
        width: 100px;
        height: 100px;
    }
}
/* and (min-height:900px) */
@media only screen and (min-width:1920px) and (max-width:2560px){
    .question{
        /* background-color: red; */
    }
    .question-text{
        font-size: 40px;
    }
    .options p{
        font-size: 34px;
    }
    .music-play img{
        width: 60px;
        height: 60px;
    }
    .anime-logo{
        width: 128px;
        height: 128px;
    }
    .anime-logo img{
        width: 128px;
        height: 128px;
    }
}
/*  and (min-height:900px) */
@media only screen and (min-width:2560px) and (max-width:3840px){
    .question{
        /* background-color: darkorange; */
    }
    .question-text{
        font-size: 54px;
    }
    .options p{
        font-size: 50px;
    }
    .music-play img{
        width: 80px;
        height: 80px;
    }
    .anime-logo{
        width: 180px;
        height: 180px;
    }
    .anime-logo img{
        width: 180px;
        height: 180px;
    }
}
/* and (min-height:1200px) */
@media only screen and (min-width:3840px){
    .question{
        /* background-color: chartreuse; */
    }
    .question-text{
        font-size: 80px;
    }
    .options p{
        font-size: 80px;
    }
    .music-play img{
        width: 100px;
        height: 100px;
    }
    .box-anime{
        border: 1px solid black;
    }
    .anime-logo{
        width: 200px;
        height: 200px;
    }
    .anime-logo img{
        width: 200px;
        height: 200px;
    }
}
